*.*rr
*.BAD
*.BC
*.BIG
*.MAP*
*.NS
*.cm
*.cov
*.cp
*.cr
*.crt
*.csg
*.csp
*.dbg
*.dot
*.enc
*.eqn
*.er
*.es
*.g
*.grf
*.hse
*.log
*.net
*.nounc
*.off
*.on
*.osg
*.out
*.pg
*.pi
*.pit
*.priv
*.prm
*.prs
*.qs
*.rcr
*.rel
*.rsg
*.sg
*.sol
*.spec
*.stats
*.sym
*.table
*.tel
*.tp
*.tr
*.trace
*.trans
*.txt
*.v
*.ver
*_HSE_*
*day
*hour
*min
*sec
.*.OK
.*.prs*
.*_VERIFY*
.status*
gmon.out
input
log
output
report
rrules
stats
trace.vhd
transcript
verify
